<!--- snippet arrow__button --->
{% comment %}
to render add 
{% render 'arrow__button' 
, button_text_1: block.settings.button_label_1,
button_text_2: block.settings.button_label_2,
url: block.settings.button_url %}

plus jason


{% endcomment %}<a
  href="{{url}}"
  class="button-with-arrow gap-4">
  <span
    class="leading-none font-medium text-right">
    {{ button_text_1 }}

    {% unless button_text_2 == "" or button_text_2 == nil %}
      <br>
      {{ button_text_2 }}
    {% endunless %}
  </span>
  <svg
    class="arrow-icon"
    width="{% unless button_text_2 == "" or button_text_2 == nil %} 32 {% else %} 14 {% endunless %}"
    height="{% unless button_text_2 == "" or button_text_2 == nil %} 32 {% else %} 14 {% endunless %}"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M2.27372 30.5267L30.9246 1.87577M30.9246 1.87577H3.86544M30.9246 1.87577V28.9349"
      stroke="var(--svg-fill)"
      stroke-width="{% unless button_text_2 == "" or button_text_2 == nil %}1{% else%}2{% endunless %}"
      stroke-linecap="square"
      stroke-linejoin="round">
  </svg>
</a>