      <a href="{{ block.settings.button_url }}" class="button-with-arrow">
          <span class="leading-none" style="width: {{ block.settings.button_width }}rem">
            {{ block.settings.button_label }}
          </span>
          <svg class="arrow-icon" fill="none" height="12" viewBox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.0542 10.6525L10.6717 0.544087M10.6717 0.544087L1.07588 0.508765M10.6717 0.544087L11.1843 10.1262" stroke="#fdfbf8" stroke-linecap="square" stroke-linejoin="round"></path>
          </svg>
      </a>


      <!-- Change to tailwind later --> 