/* TYPOGRAPHY */
/* - apply base styles to set type */
/* ======= */

@layer base {
  /* body */
  html,
  body,
  blockquote,
  dl,
  dd,
  hr,
  figure,
  p,
  pre,
  span {
    @apply type__body type--base;
  }

  /* headlines */
  h1,
  .h1,
  h1 > * {
    @apply type__heading--bold-1;
    @apply leading-none;
  }
  h2,
  .h2,
  h2 > * {
    @apply type__heading--bold-2;
    @apply leading-none;
  }
  h3,
  .h3,
  h3 > * {
    @apply type__heading--bold-3;
    @apply leading-none;
  }
  h4,
  .h4,
  h4 > * {
    @apply type__heading--bold-4;
    @apply leading-tight;
  }
  h5, p {
    margin-bottom: 0.5em;
    font-family: ivyora-text, serif;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.3;
  }
  h6,
  .h6,
  h6 > * {
    @apply type__heading--bold-6;
    @apply leading-tight;
  }

  /* nav */
  input,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  select,
  select[multiple],
  textarea,
  .form-input,
  .form-select {
    @apply type__body text-base;
  }
  label {
    @apply type__body type--small cursor-pointer;
  }

  /* links  */
  a {
    @apply animation-500 underline-offset-1 underline;

    &:hover {
      @apply opacity-50;
      /* underline */
    }

    &:focus {
      @apply border--focus;
    }

  }

  header {
    
    & a{
      @apply uppercase;
      
      &:hover{
        @apply no-underline; 
      }

    }
  }


    footer a {
      text-decoration: none;
      display: block;
      padding-bottom: 0.25rem;
      font-size: .875rem;
      line-height: 1.2;
      font-weight: 200;
  }

  /* spacing */
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figure,
  p,
  pre {
    @apply md:mb-4 mb-2;
  }

  ul {
    @apply pl-4 list-disc;
  }

  ol {
    @apply pl-4 list-decimal;
  }

  .font-wide{
    font-family: 'roc-grotesk-wide', 'sans-serif';
    text-transform: uppercase;
  }
  .product-options label, .quantity-text{
    @apply font-wide;
    font-size: 1.3rem;
    font-weight: 700;
}
  
  .heading-emphasis{
    @apply italic uppercase
  }


  .button {
    @apply inline-block bg-[#20242b] uppercase font-wide text-[#fdfbf8] hover:bg-[#363c49] px-8 py-4 transition-colors leading-none;
  }
  .custom-button{
    @apply px-2 py-6 inline-block uppercase font-bold;
    font-family: 'roc-grotesk-wide', 'sans-serif';
    background-color: #20242b;
    color: #F8F3EA;
  }

  /* [15:51, 16/07/2023] Tina: fontFamily: {
    'serif': ['ivyora-text', 'serif'],
    'wide': ['roc-grotesk-wide', 'sans-serif'],
    'sans': ['roc-grotesk', 'sans-serif'],
  },
 colors: {
      'sand-100': '#fdfbf8',
      'sand-200': '#F8F3EA',
      'sand-300': '#f3ebdb',
      'dark-700': '#2b303a',
      'dark-800': '#20242b',
      'dark-900': '#15181c',
    }, */

  /* font weight */
  strong {
    font-weight: bold;
  }
  

  /* mark tag for search query highlight */
  mark {
    background: none;
    font-weight: bold;
  }
}

/* custom */
span{
  font-family: inherit !important;
}


*:focus {
  box-shadow: none !important;
  outline: 0px solid transparent !important;
  outline-offset: 2px;
}

footer a {
  display: block;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 200;
  margin:0 !important;
}

nav a:hover {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}



  body select {
    background-color: #f8f4eb;
    border-width: 0;
  }

  body select:focus {
    background-color: #f8f4eb;
  }

  .product-options select {
    max-width: 50%;
    padding: .5rem;
  }

  .image-mixer-parent img {
    background-color:#f8f3ea;
    mix-blend-mode: multiply;
  }