/* CONTAINERS */
/* ======= */

@layer components {

  /* standard containers */
  .window--narrow {
    @apply md:max-w-2xl lg:max-w-3xl xl:max-w-4xl px-4 m-auto;
  }
  .window {
    @apply md:max-w-4xl lg:max-w-5xl xl:max-w-6xl px-4 m-auto;
  }
  .window--wide {
    @apply md:max-w-5xl lg:max-w-6xl xl:max-w-7xl px-4 m-auto;
  }
  .window--full {
    @apply px-4 m-auto;
  }

  .max-medium{
    max-width: 768px;
    margin: auto;
  }
  
  .max-large{
    max-width: 1024px;
    margin: auto;
  }
  
  .max-ex-large{
    max-width: 1280px;
    margin: auto;
  }
  
}


:root{
  --horizontal-side-gap: min(5vw, 5rem)
}

@media(max-width: 768px) {
  .inline-grid-mobile-override {
    grid-template-columns: 1fr !important;
  }
}