/* ANIMATION */
/* - utility classes to add default animation stuff */
/* ======= */

@layer utilities {

  .animation-100 {
    @apply transition duration-100;
  }
  .animation-300 {
    @apply transition duration-300;
  }
  .animation-500 {
    @apply transition duration-500;
  }
  .animation-500--all {
    @apply transition-all duration-500;
  }
  .animation-1000 {
    @apply transition duration-1000;
  }
  .animation-5000 {
    @apply transition;
    transition-duration: 5000ms;
  }
  .animation-5000--all {
    @apply transition-all;
    transition-duration: 5000ms;
  }
  
}


/* ticketbanner  */

:root {
  --bannerBlockLength: 280px;
  --bannerBlockTime: 2s;
}


.ticket-container{
overflow-X: hidden;
display: flex;
flex-direction: row-reverse;
}
.tickerBanner{
display: flex;
flex-direction: row-reverse;
text-align: center;
position: relative;
animation: ticker 2s infinite linear;
animation-duration: var(--bannerBlockTime), 2s;
}
.tickerBanner:hover{
animation-play-state: paused;
}


@keyframes ticker {
  from {left:0}
  to   {left:var(--bannerBlockLength)}
}