{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



<footer class="p-5p py-16">
    <div class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-x-16">
        <div class="col-span-full lg:col-span-2 p-4">
            <a href="/">
                <h2 class="logo text-2xl font-wide uppercase font-medium mb-8"> Mother of Pearl <br> and sons trading </h2>
            </a>
            <p class="mb-6"> Discover the perfect photoshoot destinations in Bali, Indonesia with our comprehensive guide. From beautiful public spaces to stunning parks and private photoshoot villas & photography studios, we'll help you find the ideal backdrop for your destination campaign. <br> </p>
            <h4 class="text-sm font-wide uppercase mt-8">  Visit our Sydney<br> Showroom: </h4>
            <p> Suite 5, <br>
                24 – 30 Wellington Street, <br>
                Waterloo, NSW </p>
            <p> Phone 02 8332 6999</p>
        
        </div>

    
    <div class="col-span-1 p-4">
        <h4 class="font-wide text-sm uppercase mb-8"> Brands <br> we stock</h4>
        <nav> 
            <a href="https://example.com">Mother of Pearl & Sons</a>
            <a href="https://example.com">B&M</a>
            <a href="https://example.com">Chant</a>
            <a href="https://example.com">Sun Valley Bronze</a>
            <a href="https://example.com">Finesse</a>
            <a href="https://example.com">Samuel Heath</a>
            <a href="https://example.com">Brionne</a>
            <a href="https://example.com">Lock and door</a>
            <a href="https://example.com">Brehat</a>
            <a href="https://example.com">Fersa</a>
            <a href="https://example.com">P Bisschop</a>
            <a href="https://example.com">Tasman Forge</a>
            <a href="https://example.com">Natures door</a>
            <a href="https://example.com">Jacksons Locks</a>
            <a href="https://example.com">Ivana Perkins</a>
            <a href="https://example.com">Parisi</a>
            <a href="https://example.com">Designer Doorware</a>
            <a href="https://example.com">Domino Brass</a>
            <a href="https://example.com">Mood Australia</a>
            <a href="https://example.com">Barben</a>
            <a href="https://example.com">Lockwood Australia</a>
        </nav>      
    </div>

    <div class="col-span-1 p-4">
        <h4 class="font-wide text-sm uppercase mb-8"> Architectural <br> hardware</h4>
        <nav> 
            <a href="#">Lever Handle Sets</a>
            <a href="#">Entrance Door Hardware</a>
            <a href="#">Locks, Latches & Security</a>
            <a href="#">Privacy Sets</a>
            <a href="#">Hinges</a>
            <a href="#">Escutcheons</a>
            <a href="#">Door & Cremorne Bolts</a>
            <a href="#">Door Stops</a>
            <a href="#">Sliding & Pocket Door Hardware</a>
            <a href="#">Window Hardware</a>
            <a href="#">Curtain Fittings</a>
            <a href="#">Postal & House Numbers</a>
            <a href="#">Coat Hooks</a>
            <a href="#">Lighting</a>
            <a href="#">Restoration</a>
        </nav>      
    </div>

    <div class="col-span-1 p-4">
        <h4 class="font-wide text-sm uppercase mb-8"> Kitchen <br> & Joinery </h4>
        <nav> 
            <a href="#">Lever Handle Sets</a>
            <a href="#">Entrance Door Hardware</a>
            <a href="#">Locks, Latches & Security</a>
            <a href="#">Privacy Sets</a>
            <a href="#">Hinges</a>
        </nav> 
        <h4 class="font-wide text-sm uppercase mb-8 mt-8"> Working <br> with us </h4>
        <nav> 
            <a href="#">Lever Handle Sets</a>
            <a href="#">Entrance Door Hardware</a>
            <a href="#">Locks, Latches & Security</a>
            <a href="#">Privacy Sets</a>
            <a href="#">Hinges</a>
        </nav>      
    </div>

    </div>

</footer>
<div class="p-8 border-t border-sand-300">
    <div class="max-w-screen-xl mx-auto text-center">
        <p class="uppercase text-xs mb-8 opacity-90 text-sand-300"> 
            © 2023 All rights reserved
             {%- for link in section.settings.sub_links.links -%}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {%- endfor -%}
        <p class="mb-0 text-xs italic opacity-90 text-sand-300">  Website designed & built by <a href="https://www.kelapacreative.com">Kelapa Creative </a></p>
    </div>
</div>